@tailwind base;
@tailwind components;
@tailwind utilities;

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Impression */
@media print {
  body {
    margin: 0;
    padding: 0;
  }
  * {
    visibility: hidden;
  }
  .print-area,
  .print-area * {
    visibility: visible;
  }
  .print-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  .print-only {
    display: block !important;
  }
  .no-print {
    display: none !important;
  }
}
